@inherits LayoutComponentBase
@using BlazorGQL.Pages.Cart


<div class="content">
    <header>
        <NavMenu />
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @Body
        </main>
    </div>
</div>

