@page "/cartfinished"

<div style="margin: 0 auto; width: 500px; text-align: center">
    <br />
    <h1>Thank You!</h1>
    <br />
    <h3>Your order has been received.</h3>
    <br />
    <a href="">Keep on shopping!</a>
    <br />
    <br />
    <br />
    <img src="https://media.giphy.com/media/IwAZ6dvvvaTtdI8SD5/giphy.gif" />
</div>

