@namespace BlazorGQL.Pages.Order
@page "/orderlist"


@*<h1><span class="oi oi-cart"></span> Orders</h1>*@

<div>
    @if (_orders == null)
    {
        <h3>Loading Orders...</h3>
    }
    else
    {
        @foreach (var order in _orders)
        {
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@order.OrderNumber</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@order.DeliveryName</h6>
                    @foreach (var item in order.LineItems)
                    {
                        <p class="card-text">SKU: @item.Sku</p>
                        <p class="card-text">Quantity: @item.Quantity</p>
                    }
                </div>
            </div>
        }
    }
</div>

